//main página principal
.main{
    display: flex;

    @include for-phone{
        margin-left: 15px;
        margin-right: 15px
    }

    @include for-smartphone{
        margin-left: 20px;
        margin-right: 20px
    }

    @include for-tablet{
        margin-left: 20px;
        margin-right: 20px
    }

    @include for-desktop{
        @include margin;
    }

    &__space{
        background-color: #ACACAC;
        width:100%;
        height: 281px;

        @include for-phone{
            height: 86px;
        }
    }

    &__sidebar{
        background-color: #E2DEDC;
        width:24%;
        height: 507px;
        margin-top: 25px;
        margin-bottom: 24px;
    
    }

    &__content{
        width: calc(100% - #{$sidebar}); //interpolação
        margin-left: 30px;
        margin-top: 25px;

        @include for-phone{
            width: 100%;
            margin-left: 0px;
        }

    }

    

    .sidebar{

        @include for-phone{
            display: none;
        }

        &__nav{
            padding-top: 25px;
            padding-left: 36px;
        }
    
        &__links{
            margin-bottom: 10px;
           
        }
    
        &__link{
            @include fontsize(18px);
            @include fontfamily;
            color: $black;
            
        }
    
    }

    .about{
        @include fontfamily;
        color:$black;
    
        &__title{
            @include fontsize(26px);
            margin-top: 16px;
            margin-bottom: 10px;    
        }
    
        &__text{
            width: 100%;
            @include fontsize(16px);
        }
    }
}
