$light-blue:#00A8A9;
$light-red:#ED1A39;
$dark-blue:#1E2B50;
$grey:#626262;

//main product
.product{
    @include margin;

    @include for-phone{
        margin-left: 15px;
        margin-right: 15px
    }

    @include for-smartphone{
        margin-left: 20px;
        margin-right: 20px
    }

    @include for-tablet{
        margin-left: 20px;
        margin-right: 20px
    }

    @include for-desktop{
        @include margin;
    }


    &__menu{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 24px;
        align-items: center;
    }

    &__link{
        @extend %no-decoration;
        @include fontsize(14px);
        @include fontfamily;
        color: $light-blue;
    }

    &__icon{
        max-width: 12px; 
        
    }

    &__links{
        @extend %no-decoration;
        @include fontsize(14px);
        @include fontfamily;
        color: $red;
    }

    &__product{
        display: flex;

        @include for-phone{
            display: block;
        }
    }

    .sidebar{
        width: 20%;
        height: 507px;
        border: 1px #E2DEDC solid;
        padding-top: 18px;
        padding-left: 18px;

        @include for-phone{
            width: 90%;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 20px;
        }

        @include for-smartphone{
            width:30%;
        }

        @include for-tablet{
            width: 25%;
        }
    
        &__title{
            @include fontsize(24px); 
            @include fontfamily;
            color: $light-red;
            font-weight: bold;
            margin-bottom: 14px;
        }
    
        &__subtitle{
            @include fontsize(18px); 
            @include fontfamily;
            color: $dark-blue;
            font-weight: bold;
            margin-bottom: 15px;
        }
    
        &__nav{
            margin-left: 18px;
            margin-bottom: 40px;
        }
    
        &__links{
            @include fontsize(16px); 
            @include fontfamily;
            color: #626262;
            margin-bottom: 10px;
        }
    
        &__cores{
            display: flex;
        }
        
        &__color{
            width: 48px;
            height: 24px;
            margin-right: 3px;
            margin-bottom: 34px;
        }
    
       
    }

    .content{
        width: calc(100% - 20%);
        margin-left: 25px;

        @include for-phone{
            width: 100%;
            margin-left: 0px;
        }

        @include for-smartphone{
            width: calc(100% - 30%);
            
        }

        @include for-tablet{
            width: calc(100% - 25%);
        }
    
        &__title{
            @include fontsize(32px); 
            @include fontfamily;
            color: $light-red;
            margin-bottom: 10px;
        }
    
        &__menus{
            border-top: 1px #E2DEDC solid ;
            padding-top: 10px;
            margin-bottom: 42px;

            @include for-phone{
                border: none;
            }
        }
    
        &__img-menu{
            max-width: 20px;
            margin-right: 12px;

            @include for-phone{
                display: none;
            }
        }
    
        &__img-menulist{
            max-width: 20px;

            @include for-phone{
                display: none;
            }

            @include for-smartphone{
                margin-right: 97px;
            }
            
            @include for-tablet{

                margin-right: 323px;
            }
            @include for-desktop{

                margin-right: 575px;

            }
        }
    
        &__label{
            @include fontsize(11px); 
            @include fontfamily; 
            font-weight: bold;
            color: #808185; 
            margin-right: 14px;

            @include for-phone{
                margin-right: 10px;
                
            }
            
        }
    
        &__input{
            width: 216px;
            height: 27px;
            border: 1px #E2DEDC solid;
            border-radius: 5px;

            @include for-phone{
                width:187px;
                
            }

        }
    }
    
    &__items{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        
    }

    &__items-products{

        width: 189px;
        text-align: center;
        margin-right: 50px;
        margin-bottom: 20px;
        
        @include for-phone{
            width: 105px;
            margin-right: 40px;
        }
        @include for-smartphone{
            width: 119px; 
            margin-right: 40px;
        }
    
        @include for-tablet{
            width: 126px; 
        }
        
             
    }

    &__items-img{
        width:100%;
        height: 233px;
        border: 1px #E2DEDC solid;
        padding: 8px 9px;
        margin-bottom: 10px;
    
        @include for-phone{
            height: 146px; 
        }
        @include for-smartphone{
            height: 165px;
            margin-bottom: 15px;
        }
        
        @include for-tablet{
            height: 180px;
        }
       
    }

    &__img-product{
        width: 100%;
        height: 230px;
    
        @include for-phone{
            height: 142px;
        }
    
        @include for-smartphone{
            height: 160px;
           
        }
    
        @include for-tablet{
            height: 178px;
        }
    
    }

    &__name{
        @include fontsize(16px); 
        @include fontfamily; 
        color: $grey;
        text-transform: uppercase;
        margin-bottom: 24px;
    
        @include for-smartphone{
            margin-bottom: 32px; 
        }
    }

    &__price{

        @include fontsize(21px); 
        @include fontfamily; 
        color: $dark-blue;
        font-weight: bold;
        margin-bottom: 10px;
    
        @include for-smartphone{
            margin-bottom: 13px; 
        }
    
    }

    &__button{
        padding: 10px 62px;
        background-color: $light-blue;
        color: $white;
        @include fontsize(18px); 
        @include fontfamily;
        font-weight: bold;
        border-radius: 5px;
        border: transparent;
    
        @include for-phone{
            display: none;
    
        }
        @include for-smartphone{
            width: 138px; 
            padding: 8px;
        }
        @include for-tablet{
            width: 140px;
            padding: 8px;
        }

            &:hover{
                background-color: $red;
            }
        
    
    }

    
}


#sidebar__color-red{
    background-color: $red;
}

#sidebar__color-orange{
    background-color: #F26324; 
}

#sidebar__color-blue{
    background-color: $light-blue; 
}
