
//breakpoints 320px, 768px, 1024px e 1440px
@mixin for-phone{
    @media (max-width: 320px) { @content; }
}

@mixin for-smartphone{
    @media (min-width: 321px) and (max-width: 768px) { @content; }
}

@mixin for-tablet{
    @media (min-width: 769px) and (max-width: 1024px) { @content; }
}

@mixin for-desktop{
    @media (min-width: 1025px) and (max-width: 1440px) { @content; }
}

//função de transformação px para rem
@function calcRem($size){
    @return $size / 16px * 1rem;
}

@mixin fontsize($size){
    font-size: calcRem($size);
}


//Variaveis referentes as cores principais do projeto
$light-dark:#231F20;
$black: #000000;
$white:#ffffff;
$red:#CB0D1F;

//variavel tamanho da largura sidebar
$sidebar: 24%;

//placeholde selector
%no-decoration{text-decoration: none;}
%no-style{list-style: none;}


//mixins 
@mixin margin{
    margin-left: 100px;
    margin-right: 99px;
}

@mixin fontfamily{
    font-family: 'Open Sans', sans-serif;
}

@mixin displayNone{
    display: none;
}

// importando estilo das outras páginas
@import 'index', 'products';

//header
.header{
    &__acess{
        background-color:$light-dark;
        height: 31px;
        width: 100%;
    }
    
    &__registration{
        
        text-align: right;
        padding-top: 6px; 
        @include fontfamily;
        @include fontsize(14px);

        @include for-phone{
            text-align: center;
        }

        @include for-smartphone{
            margin-right: 20px;
            
        }

        @include for-tablet{
            margin-right: 20px;
        }

        @include for-desktop{
            margin-right: 99px;
        }
    }
    &__login{
        font-weight: 600;
        color: $white;
        letter-spacing: 0px;
    }
    &__text{
        color: $white;
    }

    &__logo{
        margin-top: 31px;
        margin-bottom: 39px;
        display: flex;
        align-items: center;

        @include for-phone{
            display: block;
        }
        

        @include for-smartphone{
            margin-left: 20px;
            margin-right: 20px
        }

        @include for-tablet{
            margin-right: 20px;
            margin-left: 20px;
        }

        @include for-desktop{
            @include margin;
        }
    }

    &__bloco-icones{
        @include for-phone{
            display: flex;
            align-items: center;
        }
        
    }

    &__nav{
        background-color: $red;

        @include for-phone{
            height: 200px;
        }
    }

    &__icon{
        margin-right: 10px;
        margin-left: 10px;
    
        @include for-smartphone{
            @include displayNone;
        }
    
        @include for-tablet(){
            @include displayNone;
        }
    
        @include for-desktop(){
            @include displayNone;
        }
    
    }

    .search{
        width: 100%;
        text-align: right;
        
        @include for-phone{
            display: flex;
            margin-top: 15px;
            margin-left: 15px;
            text-align: left;
            
        }

        &__input{
            width: 414px;
            height: 40px;
            border: 1px #959595 solid;
            margin-right: 0px;

            @include for-phone{
                width: 170px;
            }

            @include for-smartphone{
               width: 360px;
                
            }

            
        }
    
        &__button{
            background-color: $red;
            height: 44px;
            width: 110px;
            @include fontsize(16px);
            @include fontfamily;
            color: $white;
            font-weight: bold;
            letter-spacing: -0.8px;
            border-style: none;
            padding: 10px 24px 35px 24px;
            margin-left: -4px;
    
            &:hover{
                background-color: $light-blue;
            }
        }
        
    }

    .menu{
        height: 54px;

        @include for-smartphone{
            margin-left: 20px;
            
        }

        @include for-tablet{
            margin-left: 20px;
        }

        @include for-desktop{
            @include margin;
        }
    
        
        &__list{
            display: flex;
            padding: 20px 50px 16px 0px;
            @extend %no-style;

            @include for-phone{
                display: block;
                padding: 10px 20px 10px 20px;
            }
        }
    
        &__links{
            text-decoration: none;
            margin-right: 75px;

            @include for-smartphone{
                margin-right: 47px;
                
            }
            @include for-phone{
                margin-bottom: 20px;
            }
    
        }
    
        &__link{
            @extend %no-decoration;
            color: $white;
            @include fontfamily;
            font-weight: bold;
            @include fontsize(16px);
            letter-spacing: 0px;
            text-transform: uppercase;

            @include for-phone{
                font-weight: 500;
            }
        }
    }
    
}

//footer
.footer__rodape{
    height: 176px;
    background-color: $red;
    margin-top: 25px;
    margin-bottom: 30px;

    @include for-phone{
        margin-left: 15px;
        margin-right: 15px
    }

    @include for-smartphone{
        margin-left: 20px;
        margin-right: 20px
    }

    @include for-tablet{
        margin-left: 20px;
        margin-right: 20px
    }

    @include for-desktop{
        @include margin;
    }
}