.header .menu__link, .product__links, .product__link {
  text-decoration: none;
}

.header .menu__list {
  list-style: none;
}

.main {
  display: flex;
}
@media (max-width: 320px) {
  .main {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .main {
    margin-left: 100px;
    margin-right: 99px;
  }
}
.main__space {
  background-color: #ACACAC;
  width: 100%;
  height: 281px;
}
@media (max-width: 320px) {
  .main__space {
    height: 86px;
  }
}
.main__sidebar {
  background-color: #E2DEDC;
  width: 24%;
  height: 507px;
  margin-top: 25px;
  margin-bottom: 24px;
}
.main__content {
  width: calc(100% - 24%);
  margin-left: 30px;
  margin-top: 25px;
}
@media (max-width: 320px) {
  .main__content {
    width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 320px) {
  .main .sidebar {
    display: none;
  }
}
.main .sidebar__nav {
  padding-top: 25px;
  padding-left: 36px;
}
.main .sidebar__links {
  margin-bottom: 10px;
}
.main .sidebar__link {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
.main .about {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
.main .about__title {
  font-size: 1.625rem;
  margin-top: 16px;
  margin-bottom: 10px;
}
.main .about__text {
  width: 100%;
  font-size: 1rem;
}

.product {
  margin-left: 100px;
  margin-right: 99px;
}
@media (max-width: 320px) {
  .product {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .product {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .product {
    margin-left: 100px;
    margin-right: 99px;
  }
}
.product__menu {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 24px;
  align-items: center;
}
.product__link {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  color: #00A8A9;
}
.product__icon {
  max-width: 12px;
}
.product__links {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  color: #CB0D1F;
}
.product__product {
  display: flex;
}
@media (max-width: 320px) {
  .product__product {
    display: block;
  }
}
.product .sidebar {
  width: 20%;
  height: 507px;
  border: 1px #E2DEDC solid;
  padding-top: 18px;
  padding-left: 18px;
}
@media (max-width: 320px) {
  .product .sidebar {
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .product .sidebar {
    width: 30%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product .sidebar {
    width: 25%;
  }
}
.product .sidebar__title {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  color: #ED1A39;
  font-weight: bold;
  margin-bottom: 14px;
}
.product .sidebar__subtitle {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  color: #1E2B50;
  font-weight: bold;
  margin-bottom: 15px;
}
.product .sidebar__nav {
  margin-left: 18px;
  margin-bottom: 40px;
}
.product .sidebar__links {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #626262;
  margin-bottom: 10px;
}
.product .sidebar__cores {
  display: flex;
}
.product .sidebar__color {
  width: 48px;
  height: 24px;
  margin-right: 3px;
  margin-bottom: 34px;
}
.product .content {
  width: 80%;
  margin-left: 25px;
}
@media (max-width: 320px) {
  .product .content {
    width: 100%;
    margin-left: 0px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .product .content {
    width: 70%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product .content {
    width: 75%;
  }
}
.product .content__title {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #ED1A39;
  margin-bottom: 10px;
}
.product .content__menus {
  border-top: 1px #E2DEDC solid;
  padding-top: 10px;
  margin-bottom: 42px;
}
@media (max-width: 320px) {
  .product .content__menus {
    border: none;
  }
}
.product .content__img-menu {
  max-width: 20px;
  margin-right: 12px;
}
@media (max-width: 320px) {
  .product .content__img-menu {
    display: none;
  }
}
.product .content__img-menulist {
  max-width: 20px;
}
@media (max-width: 320px) {
  .product .content__img-menulist {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .product .content__img-menulist {
    margin-right: 97px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product .content__img-menulist {
    margin-right: 323px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .product .content__img-menulist {
    margin-right: 575px;
  }
}
.product .content__label {
  font-size: 0.6875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #808185;
  margin-right: 14px;
}
@media (max-width: 320px) {
  .product .content__label {
    margin-right: 10px;
  }
}
.product .content__input {
  width: 216px;
  height: 27px;
  border: 1px #E2DEDC solid;
  border-radius: 5px;
}
@media (max-width: 320px) {
  .product .content__input {
    width: 187px;
  }
}
.product__items {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
}
.product__items-products {
  width: 189px;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  .product__items-products {
    width: 105px;
    margin-right: 40px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .product__items-products {
    width: 119px;
    margin-right: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product__items-products {
    width: 126px;
  }
}
.product__items-img {
  width: 100%;
  height: 233px;
  border: 1px #E2DEDC solid;
  padding: 8px 9px;
  margin-bottom: 10px;
}
@media (max-width: 320px) {
  .product__items-img {
    height: 146px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .product__items-img {
    height: 165px;
    margin-bottom: 15px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product__items-img {
    height: 180px;
  }
}
.product__img-product {
  width: 100%;
  height: 230px;
}
@media (max-width: 320px) {
  .product__img-product {
    height: 142px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .product__img-product {
    height: 160px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product__img-product {
    height: 178px;
  }
}
.product__name {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #626262;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (min-width: 321px) and (max-width: 768px) {
  .product__name {
    margin-bottom: 32px;
  }
}
.product__price {
  font-size: 1.3125rem;
  font-family: "Open Sans", sans-serif;
  color: #1E2B50;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 321px) and (max-width: 768px) {
  .product__price {
    margin-bottom: 13px;
  }
}
.product__button {
  padding: 10px 62px;
  background-color: #00A8A9;
  color: #ffffff;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: transparent;
}
@media (max-width: 320px) {
  .product__button {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .product__button {
    width: 138px;
    padding: 8px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .product__button {
    width: 140px;
    padding: 8px;
  }
}
.product__button:hover {
  background-color: #CB0D1F;
}

#sidebar__color-red {
  background-color: #CB0D1F;
}

#sidebar__color-orange {
  background-color: #F26324;
}

#sidebar__color-blue {
  background-color: #00A8A9;
}

.header__acess {
  background-color: #231F20;
  height: 31px;
  width: 100%;
}
.header__registration {
  text-align: right;
  padding-top: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}
@media (max-width: 320px) {
  .header__registration {
    text-align: center;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .header__registration {
    margin-right: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header__registration {
    margin-right: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .header__registration {
    margin-right: 99px;
  }
}
.header__login {
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0px;
}
.header__text {
  color: #ffffff;
}
.header__logo {
  margin-top: 31px;
  margin-bottom: 39px;
  display: flex;
  align-items: center;
}
@media (max-width: 320px) {
  .header__logo {
    display: block;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .header__logo {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header__logo {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .header__logo {
    margin-left: 100px;
    margin-right: 99px;
  }
}
@media (max-width: 320px) {
  .header__bloco-icones {
    display: flex;
    align-items: center;
  }
}
.header__nav {
  background-color: #CB0D1F;
}
@media (max-width: 320px) {
  .header__nav {
    height: 200px;
  }
}
.header__icon {
  margin-right: 10px;
  margin-left: 10px;
}
@media (min-width: 321px) and (max-width: 768px) {
  .header__icon {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header__icon {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .header__icon {
    display: none;
  }
}
.header .search {
  width: 100%;
  text-align: right;
}
@media (max-width: 320px) {
  .header .search {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    text-align: left;
  }
}
.header .search__input {
  width: 414px;
  height: 40px;
  border: 1px #959595 solid;
  margin-right: 0px;
}
@media (max-width: 320px) {
  .header .search__input {
    width: 170px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .header .search__input {
    width: 360px;
  }
}
.header .search__button {
  background-color: #CB0D1F;
  height: 44px;
  width: 110px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: -0.8px;
  border-style: none;
  padding: 10px 24px 35px 24px;
  margin-left: -4px;
}
.header .search__button:hover {
  background-color: #00A8A9;
}
.header .menu {
  height: 54px;
}
@media (min-width: 321px) and (max-width: 768px) {
  .header .menu {
    margin-left: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header .menu {
    margin-left: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .header .menu {
    margin-left: 100px;
    margin-right: 99px;
  }
}
.header .menu__list {
  display: flex;
  padding: 20px 50px 16px 0px;
}
@media (max-width: 320px) {
  .header .menu__list {
    display: block;
    padding: 10px 20px 10px 20px;
  }
}
.header .menu__links {
  text-decoration: none;
  margin-right: 75px;
}
@media (min-width: 321px) and (max-width: 768px) {
  .header .menu__links {
    margin-right: 47px;
  }
}
@media (max-width: 320px) {
  .header .menu__links {
    margin-bottom: 20px;
  }
}
.header .menu__link {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
}
@media (max-width: 320px) {
  .header .menu__link {
    font-weight: 500;
  }
}

.footer__rodape {
  height: 176px;
  background-color: #CB0D1F;
  margin-top: 25px;
  margin-bottom: 30px;
}
@media (max-width: 320px) {
  .footer__rodape {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  .footer__rodape {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer__rodape {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .footer__rodape {
    margin-left: 100px;
    margin-right: 99px;
  }
}

/*# sourceMappingURL=style.css.map */
